{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <style>
        body {
            background: linear-gradient(180deg, #213b52 0%, #213c54 35%, #204564 100%);
        }
    </style>
{% endblock %}

{% block body %}
<div>
    <header id="header">
        <div class="container d-flex">

            <div class="logo mr-auto">
                <img src="assets/img/LOGO_4.png" class="img-responsive" alt="" style="width: 110px; margin-top: -17px;" >
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="{{ path('index') }}">Accueil</a></li>
                    <li class="get-started">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href= "{{ path('app_logout') }}" >Se déconnecter</a>
                        {% else %}
                            <a href= "{{ path('app_login') }}" >Se connecter</a>
                        {% endif %}
                    </li>
                    <li class="get-started">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('back_default_index') }}" > BACK OFFICE </a>
                        {% endif %}
                    </li>


                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header>

    <div class="card mb-4" id="card_I" style="margin: 3%">
        <h6 class="card-header" style="background: #a9a8f7">Image de Profile</h6>
        <div class="card-body">
            {{ form_start(formIMG) }}
            <div class="row">
                <div class="col">
                    <img style="height: 150px!important; width: 150px!important;margin-left: 45%" id="profilpicture" {% if app.user.image is null %}src="uploads/pictures/default.jpg"{% else %} src="{{ vich_uploader_asset(app.user, 'imageFile')   }}" {% endif %} alt="" class="d-block ui-w-80">
                </div>
                <div class="col">
                    <label class="btn btn-outline-primary" style="margin-top: 5%">
                        Télecharger une nouvelle photo
                        <div class="vich-image"><div class="custom-file">{{ form_widget(formIMG.imageFile) }}<label for="profile_imageFile_file" class="custom-file-label"></label>
                            </div>
                        </div>
                    </label>
                </div>
            </div>

            {{ form_end(formIMG) }}
        </div>
    </div>


    <div class="card mb-4" id="card_II" style="margin: 3%">
        <h6 class="card-header" style="background: #a9a8f7"> Information</h6>
        <div class="card-body">
            {{ form_start(form) }}
            <div class="form-group row">
                <label class="col-form-label col-sm-2 text-sm-right">FirstName</label>
                <div class="col-sm-10">
                    {{form_widget(form.firstName)}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-2 text-sm-right">LastName</label>
                <div class="col-sm-10">
                    {{form_widget(form.lastName)}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-2 text-sm-right">Address</label>
                <div class="col-sm-10">
                    {{ form_widget(form.address) }}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10 ml-sm-auto">
                    <button type="submit" class="btn btn-primary" id="II">Valider</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% block javascripts %}
    {{ parent() }}
    <script src="assets/vendor/libs/block-ui/block-ui.js"></script>
    <link rel="stylesheet" href="assets/vendor/libs/spinkit/spinkit.css">
    <script>
        $('input[name="image[imageFile][file]"]').change(function (e) {
            e.stopImmediatePropagation();
            var formData = new FormData($("form[name='image']")[0]);
            console.log('test');
            $.ajax({
                url: Routing.generate('profile'),
                type: "POST",
                data: formData,
                success: function (response) {
                        toastr["success"]("Avec succès", "Image modifié ! :)",);
                },
                cache: false,
                contentType: false,
                processData: false
            });
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = imageIsLoaded;
                reader.readAsDataURL(this.files[0]);
            }

            function imageIsLoaded(e) {
                $('#profilpicture').attr('src', e.target.result);

            };
        });


        $('#II').click(function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();
            $('#card_II').block({message:'<div class="sk-wave sk-primary"><div class="sk-rect sk-rect1"></div> <div class="sk-rect sk-rect2"></div> <div class="sk-rect sk-rect3"></div> <div class="sk-rect sk-rect4"></div> <div class="sk-rect sk-rect5"></div></div>',css:{backgroundColor:'transparent',border:'0'},overlayCSS:{backgroundColor:'#fff',opacity:0.8,padding:'30px'}});
            $.post(Routing.generate("profile"), $("form[name='profile']").serialize(), function (response) {
                if( response === "ok") {
                    $('#card_II').unblock();
                    toastr["success"]("Avec succès", "Modifier avec succes",);
                }
            })
            });
    </script>
{% endblock %}
{% endblock %}
