{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    {{ parent() }}
<style>
    body {

        background-image: url("assets/img/inscrire_font.png");
    }
    form[name="registration_form"] {
        margin-left: 17%;
    }
    .form-control {
        max-width: 300px;

    }


</style>
{% endblock %}
{% block body %}

    <h1 style="margin-left: 20%;margin-top: 10%">Formulaire d'inscription</h1>

    {{ form_start(registrationForm) }}

<div class="form-row">
    <div class="form-group" >
        {{form_label(registrationForm.lastName)}}
        {{form_widget(registrationForm.lastName)}}
    </div>
    <div class="form-group" style="margin-left: 5%">
        {{form_label(registrationForm.firstName)}}
        {{form_widget(registrationForm.firstName)}}
    </div>
</div>
<div class="form-row">
    <div class="form-group" >
        {{form_label(registrationForm.email)}}
        {{form_widget(registrationForm.email)}}
    </div>
    <div class="form-group" style="margin-left: 5%">
        {{form_label(registrationForm.plainPassword)}}
        {{form_widget(registrationForm.plainPassword)}}
    </div>
</div>
    <div class="form-row">
        <div class="form-group">
            {{form_label(registrationForm.number)}}
            {{form_widget(registrationForm.number)}}
        </div>
        <div class="form-group" style="margin-left: 5%">
            {{form_label(registrationForm.address)}}
            {{form_widget(registrationForm.address)}}
        </div>
    </div>

<div class="form-row">
    <div class="form-group" style="margin-left: 8%">
        <label style="margin-left: 38%">Votre CV</label>
        {{form_widget(registrationForm.cvFile)}}
    </div>
</div>
<div class="form-row">
    <div class="form-group" >
        {{form_label(registrationForm.motivation)}}
        {{form_widget(registrationForm.motivation)}}
    </div>
</div>
<div class="form-row">
    <div class="form-group" >
        {{form_label(registrationForm.agreeTerms)}}
        {{form_widget(registrationForm.agreeTerms)}}
    </div>
</div>


    <button class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}

