{% extends 'base.html.twig' %}

{% block title %}ONE PAGE{% endblock %}
{% block stylesheets %}
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

{% endblock %}

{% block body %}

    <!-- ======= Header ======= -->
    <div>
        <header id="header">
            <div class="container d-flex">

                <div class="logo mr-auto">
                    <img src="assets/img/LOGO_4.png" class="img-responsive" alt="" style="width: 110px; margin-top: -17px;" >
                </div>

                <nav class="nav-menu d-none d-lg-block">
                    <ul>
                        <li class="active"><a href="#header">Home</a></li>
                        <li><a href="#about">About Us</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#features">B-Corp</a>
                        <li class="get-started">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a href= "{{ path('app_logout') }}" >Se déconnecter</a>
                            {% else %}
                                <a href= "{{ path('app_login') }}" >Se connecter</a>
                            {% endif %}
                        </li>
                        <li class="get-started">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('user_index') }}" > BACK OFFICE </a>
                            {% endif %}
                        </li>


                    </ul>
                </nav><!-- .nav-menu -->

            </div>
        </header><!-- End Header -->

        <!-- ======= Hero Section ======= -->
        <section id="hero">

            <div class="container">
                <div class="row d-flex align-items-center">
                <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="fade-right">
                    <h1>Rejoignez la famille des Agents Du Web</h1>
                    <h2>La meilleur agence digitale et creative</h2>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href= "{{ path('profile') }}" class="btn-get-started scrollto">Mon Profile</a>
                        {% if count >0 %}
                            <a href= "{{ path('projects') }}" class="btn-get-started scrollto">Mes Projets ({{ count }})</a>
                        {% endif %}
                    {% else %}
                    <a href= "{{ path('app_register') }}" class="btn-get-started scrollto">S'isncrire</a>
                    {% endif %}
                </div>
                    <div class="col-lg-6 order-1 order-lg-2 PAGE3" data-aos="fade-left">
                        <img src="assets/img/PAGE3.png" class="img-responsive" alt="" width="650px" style="margin-left: 100px"
">
                    </div>
            </div>


        </section><!-- End Hero -->
    </div>
    <main id="main">

        <!-- ======= Clients Section ======= -->
        <section id="clients" class="clients section-bg">
            <div class="container">

                <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

                    <div class="col-lg-2 col-md-4 col-6">
                        <div class="client-logo">
                            <img src="assets/img/maf.svg" class="img-fluid" alt="" data-aos="flip-right">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-6">
                        <div class="client-logo">
                            <img src="assets/img/clients/peugeot.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="100">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-6">
                        <div class="client-logo">
                            <img src="assets/img/clients/suez.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="200">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-6">
                        <div class="client-logo">
                            <img src="assets/img/clients/accor_logo.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="300">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-6">
                        <div class="client-logo">
                            <img src="assets/img/clients/parisien.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="400">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-6">
                        <div class="client-logo">
                            <img src="assets/img/clients/pixelis.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="500">
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Clients Section -->

        <!-- ======= About Section ======= -->
        <section id="about" class="about section-bg">
            <div class="container">

                <div class="row">
                    <div class="col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start">
                        <img src="assets/img/lovepik.png" class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
                        <div class="content d-flex flex-column justify-content-center">
                            <h3 data-aos="fade-in" data-aos-delay="100">Chez les agents du web nous vous aidons à innover les startups </h3>
                            <p data-aos="fade-in">
                                Notre cœur de métier est le conseil en création  et le développement de sites et de plateformes digitales complexes : brand center, intranet, extranet, réseaux de sites et autres solutions numériques poussées.
                            </p>
                            <div class="row">
                                <div class="col-md-6 icon-box" data-aos="fade-up">
                                    <i class="bx bx-receipt"></i>
                                    <h4><a href="#">le conseil</a></h4>
                                    <p></p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                                    <i class="bx bx-cube-alt"></i>
                                    <h4><a href="#">le développement de sites</a></h4>
                                    <p></p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                                    <i class="bx bx-images"></i>
                                    <h4><a href="#">plateformes digitales</a></h4>
                                    <p></p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                                    <i class="bx bx-shield"></i>
                                    <h4><a href="#">B-Corp</a></h4>
                                    <p></p>
                                </div>
                            </div>
                        </div><!-- End .content-->
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg">
            <div class="container">

                <div class="section-title">
                    <h2 data-aos="fade-in">Services</h2>
                    <p data-aos="fade-in">Les agents du web mettent à disposition 6 sercices différents, ces 6 services ont pour but d'englober l'entièreté d'un projet des ses début à ses aboutissement.</p>
                </div>

                <div class="row">
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
                        <div class="card">
                            <div class="card-img">
                                <img src="assets/img/creation.png" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="">Création</a></h5>
                                <p class="card-text">Une expertise créative en passant de la direction artistique au web designe sans oublié le web designe. En effet l'agence peut compter sur une équipe de webdesigners et d'UI designers hors-pair pour imaginer sites internet, applications ou toutes autres interfaces digitales.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-left">
                        <div class="card">
                            <div class="card-img">
                                <img src="assets/img/services-2.jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="">Conseil</a></h5>
                                <p class="card-text">Aux prémices d'un projet, nos experts en planning stratégique déterminent le positionnement du produit ou service. Cette analyse de la cible, de l'environnement dans lequel va évoluer le produit ou le service est déterminante afin d'élaborer une stratégie adéquate.Proposer des concepts créatifs, choisir les bons supports et dispositifs de communication, mettre en place des recommandations en termes d'UX </p>
                            </div>
                        </div>
                        </div>
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
                        <div class="card">
                            <div class="card-img">
                                <img src="assets/img/app.png" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="">Application</a></h5>
                                <p class="card-text">L'expertise Application de l'agence est sans doute la plus transverse. Elle réunit autant les directeurs artistiques, les UX designers, UI designers que les développeurs. Ici l'architecture de l'information est la colonne vertébrale de chaque réalisations. Que ce soit des bornes interactives, des applications mobiles, de la réalité virtuelle ou augmentée, </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
                        <div class="card">
                            <div class="card-img">
                                <img src="assets/img/web.png" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="">Web</a></h5>
                                <p class="card-text">Être une agence de communication polyvalente c'est être tout autant une agence créative qu'une agence digitale. Notre spécialité est justement de maitriser le développement d'un site web de l'intégration à la réalisation, si besoin, de développements spécifiques. Notre maîtrise technique nous permet d'apporter les meilleures solutions digitales possibles, qu'elles soient simples ou complexes cela ne nous fait pas peur</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
                        <div class="card">
                            <div class="card-img">
                                <img src="assets/img/eventt.jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="">Event</a></h5>
                                <p class="card-text"> Un événement peut être beaucoup plus efficace que n'importe quelle autre communication encore faut il réfléchir au mieux le concept et le message afin de multiplier les points de contact.

                                    Dans un univers de la communication saturé d'images et de messages, il est parfois nécessaire d'apporter un peu d'originalité grâce à une action momentanée mais fédératrice et visible</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-left">
                        <div class="card">
                            <div class="card-img">
                                <img src="assets/img/buzz.png" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="">Buzz</a></h5>
                                <p class="card-text">Attirer l'attention, susciter des réactions, créer l'engouement, générer des conversations... bref, faire du bruit, voilà l'objectif du buzz. L'agence 148 connaît bien le cocktail idéal pour faire connaitre votre marque ou votre service en un temps record. Afin de favoriser le bouche-à-oreille sur la toile, tout repose sur une trilogie idéale : SEO, SEA, SMO. </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Services Section -->

        <!-- ======= Features Section ======= -->
        <section id="features" class="features section-bg">
            <div class="container">

                <div class="section-title">
                    <h2 data-aos="fade-in">labélisée B-Corp</h2>
                    <p data-aos="fade-in">Être certifié B Corp c’est envisager de développer son entreprise selon des principes économiques plus humains et durables. Ce label est le gage que l’Agence 148 s’implique et cherche constamment à s’améliorer auprès de ses clients, de ses employés, de son réseau de partenaires, dans le cadre de sa gouvernance et même au sujet de son impact environnemental ! </p>
                </div>

                <div class="row content">
                    <div class="col-md-5" data-aos="fade-right">
                        <img src="assets/img/bcorp.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-4" data-aos="fade-left">
                        <h3>Et concrètement ?</h3>
                        <p class="font-italic">
                            L’agence a répondu à une série de questions pour savoir où elle se situait sur les différents critères d’évaluation B Corp. Pour chaque critère, un « score » lui a été attribué. Ce score n’est pas vraiment une note, mais plutôt un indicateur. Pour avoir un point de comparaison, nous avons mis nos scores face à ceux d’une B Corp similaire (et donc comparable) à la nôtre et ayant obtenu des scores élevés. Cela nous permet de savoir où sont nos points forts et où nous pouvons nous améliorer !
                        </p>
                    </div>
                </div>
            </div>
        </section><!-- End Features Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">

            <div class="container" data-aos="fade-up">

                <div class="social-links">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>

            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>


{% endblock %}


{% block javascripts  %}

    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/venobox/venobox.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>

    <script src="assets/js/main.js"></script>

{% endblock %}






