{{ form_start(form) }}
<div class="modal fade modal-md" id="modals-default" style="opacity:initial">
    <div class="modal-dialog">
        <form class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Payment <span class="font-weight-light">Modification</span><br>
                    <small class="text-muted">Modif du profil </small>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col">
                        {{form_label(form.email)}}
                        {{form_widget(form.email)}}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col mb-0">
                        <label class="form-label">Expiration date</label>
                        <input type="text" class="form-control" placeholder="DD / MM">
                    </div>
                    <div class="form-group col mb-0">
                        <label class="form-label">Card holder</label>
                        <input type="text" class="form-control" placeholder="Name on card">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

{{ form_end(form) }}
