{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ form_start(form) }}
    <button class="btn">{{ 'form.save'|trans }}</button>
    {{ form_end(form) }}

    <a href="{{ path('user_index') }}">back to list</a>


{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('select').formSelect();
        });
    </script>
{% endblock %}