<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../assets/vendor/fonts/fontawesome.css">
    <link rel="stylesheet" href="../assets/vendor/fonts/ionicons.css">
    <link rel="stylesheet" href="../assets/vendor/fonts/linearicons.css">
    <link rel="stylesheet" href="../assets/vendor/fonts/open-iconic.css">
    <link rel="stylesheet" href="../assets/vendor/fonts/pe-icon-7-stroke.css">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="../assets/vendor/css/rtl/bootstrap.css" class="theme-settings-bootstrap-css">
    <link rel="stylesheet" href="../assets/vendor/css/rtl/appwork.css" class="theme-settings-appwork-css">
    <link rel="stylesheet" href="../assets/vendor/css/rtl/theme-corporate.css" class="theme-settings-theme-css">
    <link rel="stylesheet" href="../assets/vendor/css/rtl/colors.css" class="theme-settings-colors-css">
    <link rel="stylesheet" href="../assets/vendor/css/rtl/uikit.css">
    <link rel="stylesheet" href="../assets/vendor/libs/datatables/datatables.css">
    <link href="../assets/css/style.css" rel="stylesheet">

    <!-- Load polyfills -->
    <script src="../assets/vendor/js/polyfills.js"></script>
    <script>document['documentMode']===10&&document.write('<script src="https://polyfill.io/v3/polyfill.min.js?features=Intl.~locale.en"><\/script>')</script>

    <script src="../assets/vendor/js/material-ripple.js"></script>
    <script src="../assets/vendor/js/layout-helpers.js"></script>


    <!-- Core scripts -->
    <script src="../assets/vendor/js/pace.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../assets/vendor/libs/clipboard/clipboard.js"></script>

    <!-- Libs -->
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">

    <script src="../assets/vendor/js/pace.js"></script>
    <script src="../assets/vendor/libs/clipboard/clipboard.js"></script>
    <link rel="stylesheet" href="../assets/vendor/libs/datatables/datatables.css">
<head>
<body>

<header id="header">
    <div class="container d-flex">

        <div class="logo mr-auto">
            <img src="../assets/img/LOGO_4.png" class="img-responsive" alt="" style="width: 110px; margin-top: -17px;" >
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="{{ path('index') }}">Accueil</a></li>
                <li class="get-started">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href= "{{ path('app_logout') }}" >Se déconnecter</a>
                    {% else %}
                        <a href= "{{ path('app_login') }}" >Se connecter</a>
                    {% endif %}
                </li>



            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header>
<div><h2 style="margin-left: 10%;margin-top: 3%">Liste des Agents</h2></div>
<div class="container" style="width:98%;">
    <div class="table-responsive">
        <table class="datatables-demo table table-striped table-bordered">
            <thead>
            <tr>
                <th>Nom Prenom</th>
                <th>Email</th>
                <th>Badges</th>
                <th>CV</th>
                <th>Paramètres</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.firstName ~' '~ user.lastName}}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for badge in user.badges %}
                            {% if badge.name == "Dev" %}
                                <img src="../assets/badges/dev.png" style="width: 37px">
                            {% endif %}
                            {% if badge.name == "Des" %}
                                <img src="../assets/badges/des.png" style="width: 37px">
                            {% endif %}
                            {% if badge.name == "Market" %}
                                <img src="../assets/badges/market.png" style="width: 37px">
                            {% endif %}
                            {% if badge.name == "Chef" %}
                                <img src="../assets/badges/chef.png" style="width: 37px">
                            {% endif %}

                        {% endfor %}
                    </td>
                    <td><a href="{{ '../'~vich_uploader_asset(user,'cvFile') }}">voir CV</a></td>
                    <td>
                        <a href="{{ path('project',{'id': user.id}) }}">
                            <button type="button" class="btn btn-primary toto" data-toggle="modal">Attribuer projet</button>
                        </a>


                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


</div>
</div>

</body>
<script>
</script>
<script src="../assets/vendor/libs/popper/popper.js"></script>
<script src="../assets/vendor/js/bootstrap.js"></script>
<script src="../assets/vendor/js/sidenav.js"></script>

<!-- Libs -->
<script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="../assets/vendor/libs/datatables/datatables.js"></script>
<script>
    $(function() {
        $('.datatables-demo').dataTable();
    });
</script>

<!-- Demo -->
<script src="../assets/js/demo.js"></script>


