{% block title %}New User{% endblock %}

{% block body %}
    <h1>Creation d'un nouveau utilisateur</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">créer</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('select').formSelect();
        });
    </script>
{% endblock %}