{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="assets/vendor/libs/smartwizard/smartwizard.css">
{% endblock %}

{% block body %}
    <div id="smartwizard-4" class="smartwizard-vertical-left">
        <ul>
            <li id="li1"><a href="#smartwizard-4-step-1" class="text-nowrap mb-3">
                    <span class="sw-number">1</span>
                    <div class="text-muted small">Question 1</div>
                </a></li>
            <li id="li2"><a href="#smartwizard-4-step-2" class="text-nowrap mb-3">
                    <span class="sw-number">2</span>
                    <div class="text-muted small">Question 2</div>
                </a></li>
            <li id="li3"><a href="#smartwizard-4-step-3" class="text-nowrap mb-3">
                    <span class="sw-number">3</span>
                    <div class="text-muted small">Question 3</div>
                </a></li>
        </ul>
        <div class="mb-3">
            <div id="smartwizard-4-step-1" class="card animated fadeIn">
                <div class="card-body">
                    <h4>true + true = ?</h4>
                    <div class="custom-controls-stacked">
                        <label class="custom-control custom-radio">
                            <input name="Q1" type="radio" class="custom-control-input" value="correct">
                            <span class="custom-control-label">2</span>
                        </label>
                        <label class="custom-control custom-radio">
                            <input name="Q1" type="radio" class="custom-control-input">
                            <span class="custom-control-label">Undefined</span>
                        </label>
                        <label class="custom-control custom-radio">
                            <input name="Q1" type="radio" class="custom-control-input">
                            <span class="custom-control-label">true</span>
                        </label>
                        <label class="custom-control custom-radio">
                            <input name="Q1" type="radio" class="custom-control-input">
                            <span class="custom-control-label">false</span>
                        </label>
                    </div>

                </div>
            </div>


            <div id="smartwizard-4-step-2" class="card animated fadeIn">
                <div class="card-body">
                    <h4>Laquelle de ces syntaxes est correcte ?</h4>
                    <div class="custom-controls-stacked">
                        <label class="custom-control custom-radio">
                            <input name="Q2" type="radio" class="custom-control-input" value="correct">
                            <span class="custom-control-label">if (a != 2) {} </span>
                        </label>
                        <label class="custom-control custom-radio">
                            <input name="Q2" type="radio" class="custom-control-input">
                            <span class="custom-control-label">if a != 2 {}</span>
                        </label>
                        <label class="custom-control custom-radio">
                            <input name="Q2" type="radio" class="custom-control-input">
                            <span class="custom-control-label">if (a <> 2) {} </span>
                        </label>
                        <label class="custom-control custom-radio">
                            <input name="Q2" type="radio" class="custom-control-input">
                            <span class="custom-control-label">if a <> 2 {}</span>
                        </label>
                    </div>
                </div>
            </div>



    <div id="smartwizard-4-step-3" class="card animated fadeIn">
        <div class="card-body">
            <h4>Comment faire pour qu'une div prenne toute la largeur disponible dans son bloc conteneur ?</h4>
            <div class="custom-controls-stacked">
                <label class="custom-control custom-radio">
                    <input name="Q3" type="radio" class="custom-control-input" value="correct">
                    <span class="custom-control-label">div {min-width: 100%;}</span>
                </label>
                <label class="custom-control custom-radio">
                    <input name="Q3" type="radio" class="custom-control-input">
                    <span class="custom-control-label">div {width: 80%; padding: 10%;}</span>
                </label>
                <label class="custom-control custom-radio">
                    <input name="Q3" type="radio" class="custom-control-input">
                    <span class="custom-control-label">div {width: 100%; padding: 10%;}</span>
                </label>
                <label class="custom-control custom-radio">
                    <input name="Q3" type="radio" class="custom-control-input">
                    <span class="custom-control-label">C'est automatique, pas besoin de spécifier une largeur.</span>
                </label>
            </div>
        </div>
    </div>
        </div>
    </div>
            <a href="{{ path('submit_dev') }}">
                <button type="button" class="btn btn-sm btn-success" style="float:right;margin-right: 1%">Valider</button>
            </a>


    {% block javascripts %}
        {{ parent() }}
        <script src="assets/vendor/libs/smartwizard/smartwizard.js"></script>
        <script>
            $(function() {
                $('#smartwizard-4').smartWizard({
                    autoAdjustHeight: false,
                    backButtonSupport: false,
                    useURLhash: false,
                    showStepURLhash: false
                });
            });
            $('#smartwizard-4 .sw-toolbar').appendTo($('#smartwizard-4 .sw-container'));
            $(".btn-success").click(function () {
                var good = 0;
                if($('input[name="Q1"]').val() === "correct") {
                    good++;
                }
                if($('input[name="Q2"]').val() === "correct") {
                    good++;
                }
                if($('input[name="Q3"]').val() === "correct") {
                    good++;
                }
            });
        </script>
    {% endblock %}
{% endblock %}