{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    Test Developpeur : <a href="{{ path('test_dev') }}">Passer</a><br>
    Test Marketeur : <a href="{{ path('test_market') }}">Passer</a><br>
    Test Designeur : <a href="{{ path('test_des') }}">Passer</a><br>
    Test Chef de projet : <a href="{{ path('test_chef') }}">Passer</a><br>

    Finir mes test: <a href="{{ path('test_end') }}">Finir mes tests</a>
    {% block javascripts %}

    {% endblock %}
{% endblock %}