<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="assets/vendor/css/pages/authentication.css">
            <link rel="stylesheet" href="assets/vendor/fonts/fontawesome.css">
            <link rel="stylesheet" href="assets/vendor/fonts/ionicons.css">
            <link rel="stylesheet" href="assets/vendor/fonts/linearicons.css">
            <link rel="stylesheet" href="assets/vendor/fonts/open-iconic.css">
            <link rel="stylesheet" href="assets/vendor/fonts/pe-icon-7-stroke.css">

            <!-- Core stylesheets -->
            <link rel="stylesheet" href="assets/vendor/css/rtl/bootstrap.css" class="theme-settings-bootstrap-css">
            <link rel="stylesheet" href="assets/vendor/css/rtl/appwork.css" class="theme-settings-appwork-css">
            <link rel="stylesheet" href="assets/vendor/css/rtl/theme-corporate.css" class="theme-settings-theme-css">
            <link rel="stylesheet" href="assets/vendor/css/rtl/colors.css" class="theme-settings-colors-css">
            <link rel="stylesheet" href="assets/vendor/css/rtl/uikit.css">
            <link rel="stylesheet" href="assets/vendor/libs/datatables/datatables.css">
            <link rel="stylesheet" href="assets/vendor/libs/toastr/toastr.css">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script src="assets/vendor/libs/toastr/toastr.js"></script>
        {% endblock %}
    </body>
</html>
