{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="../assets/vendor/css/pages/authentication.css">
    <link rel="stylesheet" href="../assets/vendor/fonts/fontawesome.css">
    <link rel="stylesheet" href="../assets/vendor/fonts/ionicons.css">
    <link rel="stylesheet" href="../assets/vendor/fonts/linearicons.css">
    <link rel="stylesheet" href="../assets/vendor/fonts/open-iconic.css">
    <link rel="stylesheet" href="../assets/vendor/fonts/pe-icon-7-stroke.css">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="../assets/vendor/css/rtl/bootstrap.css" class="theme-settings-bootstrap-css">
    <link rel="stylesheet" href="../assets/vendor/css/rtl/appwork.css" class="theme-settings-appwork-css">
    <link rel="stylesheet" href="../assets/vendor/css/rtl/theme-corporate.css" class="theme-settings-theme-css">
    <link rel="stylesheet" href="../assets/vendor/css/rtl/colors.css" class="theme-settings-colors-css">
    <link rel="stylesheet" href="../assets/vendor/css/rtl/uikit.css">
    <link rel="stylesheet" href="../assets/vendor/libs/datatables/datatables.css">
    <link rel="stylesheet" href="../assets/vendor/libs/toastr/toastr.css">
    <style>.form-control {
            width:500px
        }</style>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    <input type="submit" class="btn btn-primary toto">
    {{ form_end(form) }}
    {% block javascripts %}

    {% endblock %}
{% endblock %}