{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <style>
        body {
            background: linear-gradient(180deg, #213b52 0%, #213c54 35%, #204564 100%);
        }
    </style>
{% endblock %}

{% block body %}
    <div>
        <header id="header">
            <div class="container d-flex">

                <div class="logo mr-auto">
                    <img src="assets/img/LOGO_4.png" class="img-responsive" alt="" style="width: 110px; margin-top: -17px;" >
                </div>

                <nav class="nav-menu d-none d-lg-block">
                    <ul>
                        <li class="active"><a href="{{ path('index') }}">Accueil</a></li>
                        <li class="get-started">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a href= "{{ path('app_logout') }}" >Se déconnecter</a>
                            {% else %}
                                <a href= "{{ path('app_login') }}" >Se connecter</a>
                            {% endif %}
                        </li>
                        <li class="get-started">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('back_default_index') }}" > BACK OFFICE </a>
                            {% endif %}
                        </li>


                    </ul>
                </nav><!-- .nav-menu -->

            </div>
        </header>
        <div>
            <div class="card mb-4" id="card_I" style="margin: 3%">
                <h6 class="card-header" style="background: #a9a8f7">Propositions de projets</h6>
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="datatables-demo table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Description</th>
                                <th>Choix</th>
                            </tr>
                            </thead>
                            <tbody>
                    {% for project in projects_wait %}
                        <tr>
                            <td>{{ project.title }}</td>
                            <td>{{ project.description }}</td>
                            <td>
                                <a href="{{ path('project_accept',{'id':project.id}) }}"><button class="btn-success">Accepter</button></a>
                                <a href="{{ path('project_refuse',{'id':project.id}) }}"><button class="btn-danger">Refuser</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card mb-4" id="card_I" style="margin: 3%">
                <h6 class="card-header" style="background: #a9a8f7">projets en cours</h6>
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="datatables-demo table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for project in projects_ok %}
                                <tr>
                                    <td>{{ project.title }}</td>
                                    <td>{{ project.description }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>


    </div>



    {% block javascripts %}
        {{ parent() }}

    {% endblock %}
    {% endblock %}
